/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

/.php-cs-fixer.cache
/tests/.phpunit.cache

/node_modules/
/js/
/css/

.code-workspace
.DS_Store
.vscode/
.vscode-upload.json
.*.sw*
js/*hot-update.*
build
.php*.cache
